In [1]:
import pandas as pd

In [3]:
pd.read_pickle('.\\data\\MNCAATourneySeeds.pkl')

      Season  Seed  TeamID
2286    2021   W01    1276
2287    2021   W02    1104
2288    2021   W03    1400
2289    2021   W04    1199
2290    2021   W05    1160
...      ...   ...     ...
2417    2022   Z13    1151
2418    2022   Z14    1255
2419    2022   Z15    1174
2420    2022  Z16a    1136
2421    2022  Z16b    1460

[136 rows x 3 columns]

In [4]:
pd.read_pickle('.\\data\\MNCAATourneySlots.pkl')

      Season  Slot StrongSeed WeakSeed
2251    2021  R1W1        W01      W16
2252    2021  R1W2        W02      W15
2253    2021  R1W3        W03      W14
2254    2021  R1W4        W04      W13
2255    2021  R1W5        W05      W12
...      ...   ...        ...      ...
2380    2022  R6CH       R5WX     R5YZ
2381    2022   W12       W12a     W12b
2382    2022   X11       X11a     X11b
2383    2022   Y16       Y16a     Y16b
2384    2022   Z16       Z16a     Z16b

[134 rows x 4 columns]